
p{
    font-family: 'Times New Roman', serif; 
    text-align:center;
    color:brown;
}

body {
    background-color:#faf7ed;
}

a:link {
    color:palevioletred
}

a:hover{
    color:mediumvioletred
}

audio{
    align-items: center;
}
/*
this is a comment.
*/