span{
    color:purple;
    background-color:skyblue;
    width:100px;
    height:100px;
    margin:5px;
    display:block;
}
p{
    font-size:32px;
}
#div1{
    background-color:gold;
    width: 100 px;
    height: 100 px;   
}
#div2{
    width:200px;
    height:200px;
    background-color:bisque;
    background-image: url(skeleton_collage.jpg)
    background-size:cover;
    background-repeat:repeat;    
}
.text-box{
    background-color: aquamarine;
    width:1000px;
    height:1000px;
    font-size:20px;
}

/**/