

div {
   text-align:center; 
    font-family:monospace;
}

body{
    background-color:#507856;
}

a{
    color:beige;
    text-align:center; 
    font-family:monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 12px;
  text-align: center;
    color:#507856;
}
#stanza1{
    color:white;
}
        
        

